Alex J Best <alex.j.best@gmail.com>
Claus Fieker <fieker@mathematik.uni-kl.de> <claus.fieker@gmail.com>
Claus Fieker <fieker@mathematik.uni-kl.de> <fieker@murrumesh.mathematik.uni-kl.de>
Daniel Schultz <tthsqe12@gmail.com>
Édouard Rousseau <erousseau@enst.fr> <edouard.rousseau@u-psud.fr>
Édouard Rousseau <erousseau@enst.fr> <rousseau.edouard@gmail.com>
Henry Gebhardt <hsggebhardt@psu.edu> <hsggebhardt@gmail.com>
Johannes Schmitt <jschmitt@posteo.eu> <jschmitt@eduroam-ipv4-1530.triple-a.uni-kl.de>
Johannes Schmitt <jschmitt@posteo.eu> <schmitt@mathematik.uni-kl.de>
Lars Göttgens <lars.goettgens@rwth-aachen.de> <lars.goettgens@gmail.com>
Marek Kaluba <kalmar@amu.edu.pl>
simonbrandhorst <brandhorst@math.uni-sb.de> <51749255+simonbrandhorst@users.noreply.github.com>
Thomas Breuer <sam@math.rwth-aachen.de>
Tommy Hofmann <thofma@gmail.com>
William Hart <goodwillhart@googlemail.com>
